#minOverskrift{

    font-size: 30pt;
    color: darkred;
    font-style: papyrus;

}


#class{

    font-size: 20pt;
    color: rgb(160, 15, 116);
}

#class1{

    font-size: 20pt;
    color: rgb(39, 79, 10);
}

